HOSTNAME=localhost
PORT=3001
NODE_ENV=development
ADMIN_API_KEY=javascript-sucks
CORS_ORIGIN=http://example.com
GITHUB_TOKEN=ghp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=labs
MONGO_USER=admin
MONGO_PASSWORD=admin123